# Model Verification

[Return to Chapter 4](../Chapter%204.md)

This folder contains the Simulink diagram used for gathering data used to make plots for verifying the model against measurements from the real plant.
